@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(0.9785 0.0310 92.9368);
  --foreground: oklch(0.2478 0 0);
  --card: oklch(0.9898 0.0288 102.6736);
  --card-foreground: oklch(0.2478 0 0);
  --primary: oklch(0.8657 0.1691 98.3817);
  --primary-foreground: oklch(0.2478 0 0);
  --secondary: oklch(0.4140 0.1120 45.9040);
  --secondary-foreground: oklch(0.2478 0 0);
  --muted: oklch(0.9869 0.0214 95.2774);
  --muted-foreground: oklch(0.5624 0 0);
  --border: oklch(0.8868 0.1822 95.3305);
  --radius: 0.3rem;
  --shadow-x: 0rem;
  --shadow-y: 0.125rem;
  --shadow-xs: 0rem 0.125rem 0.375rem 0rem hsl(0 0% 0% / 0.07);
  --shadow-2xs: 0rem 0.125rem 0.375rem 0rem hsl(0 0% 0% / 0.07);
  --shadow-sm: 0rem 0.125rem 0.375rem 0rem hsl(0 0% 0% / 0.15), 0rem 1px 2px -1px hsl(0 0% 0% / 0.15);
  --shadow: 0rem 0.125rem 0.375rem 0rem hsl(0 0% 0% / 0.15), 0rem 1px 2px -1px hsl(0 0% 0% / 0.15);
  --shadow-md: 0rem 0.125rem 0.375rem 0rem hsl(0 0% 0% / 0.15), 0rem 2px 4px -1px hsl(0 0% 0% / 0.15);
  --shadow-lg: 0rem 0.125rem 0.375rem 0rem hsl(0 0% 0% / 0.15), 0rem 4px 6px -1px hsl(0 0% 0% / 0.15);
  --shadow-xl: 0rem 0.125rem 0.375rem 0rem hsl(0 0% 0% / 0.15), 0rem 8px 10px -1px hsl(0 0% 0% / 0.15);
  --shadow-2xl: 0rem 0.125rem 0.375rem 0rem hsl(0 0% 0% / 0.38);
  --shadow-inner: inset 0rem 0.125rem 0.375rem 0rem hsl(0 0% 0% / 0.15);
}


@theme inline {
  --font-mono: var(--font-mono);
  --font-inter: var(--font-inter);
   
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --radius: var(--radius);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-inner: var(--shadow-inner);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}